<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Flash News Paper</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#">Flash News Paper</a>
        <div class="topnav-right">
            <a href="dashboard.html">Home</a>
            <a href="contact.html">Contact</a>
            <a href="index.html">Logout</a>
            <form action="/" method="post">
            <div class="search-group">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input class="search-field" type="text" name="Search Bar" id="button-addon2" placeholder="Search Bar">
            </div>
            </form>
        </div>
    </div>

	{% if all_headlines %}
	<center><h1>Headlines</h1></center>
	<div class="row row-cols-1 row-cols-md-2 g-4 mx-3 my-3">
		{% for headline in all_headlines %}
		<div class="col">
			<div class="card h-100">
			<img src="{{headline['urlToImage']}}" class="card-img-top" alt="...">
			<div class="card-body">
				<h3 class="card-title">{{headline['title']}}</h3>
				<p class="card-text">{{headline['description']}} <a href="{{headline['url']}}" target="blank">Read More...</a></p>
			</div>
			<div class="card-footer">
				<small class="text-muted">{{headline['source']['name']}}</small>
			</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}

</body>
</html>

<!--

<div class="container3 flx2">
    <div class="image-post">
        <a href="{{url}}"><img class="images" src="{{img}}"></a>
    </div>
    <div class="content">
        <div>
            <a href="{{url}}"><h1 class="title-txt">{{title}}</h1></a>
        </div>
        <div>
            <p class="content-txt">{{desc}}</p>
        </div>
        <div class="pd-txt flx">
            <p>Publish Date : </p>
            <p> {{date_time}}</p>
        </div>
    </div>
</div>
-->